%section.section{data: {controller: 'new-notice'}}
  .container
    %h1.title New notice
    %h2.subtitle{data: {target: 'new-notice.geo'}}
    = simple_form_for(@notice) do |f|
      = f.input :notice_type, as: :radio_buttons, collection: %i[notice event ask intro], include_blank: false, label: false, input_html: {data: {action: 'new-notice#changed'}}
      = f.input :message, as: :text
      = f.input :location, wrapper_html: {data: {target: 'new-notice.location'}}
      = f.input :contact, wrapper_html: {data: {target: 'new-notice.contact'}}
      = f.input :event_time, as: :string, wrapper_html: {data: {target: 'new-notice.time'}}, input_html: {data: {target: 'new-notice.datefield'}}
      = f.input :image, as: :file, wrapper_html: {data: {target: 'new-notice.image'}}
      .actions
        = f.button :submit
